/* .card {
	border: 1px solid orange;
	width: 18rem;
	padding: 2rem;
} */

.list {
	display: flex;
	gap: 2rem;
	flex-wrap: wrap;
}

.images {
	display: flex;
	gap: 2rem;
	width: 9rem;
	flex-wrap: wrap;
}


